<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/timeline.css">
</head>

<body>
    <div class="page-wrap">
        <header>
            <div class="content">
                <h1>Goto fail; web-based timeline</h1>
            </div>
        </header>

        <main>
            <div class="content">
                <p>Placeholder main</p>
                <table class="timeline">
                    <tbody>
                        <tr>
                            <th>Count number</th>
                            <% cameraTimelines.forEach(timeline => { %>
                            <th><%= timeline.name %></th>
                            <% }); %>
                        </tr>
                        <%
                            // Setup vars
                            var curShotNumber = [];
                            var prevShot = [];
                            var curShot = [];

                            // Initialize all timelines
                            for (var j = 0; j < cameraTimelines.length; j++) {
                                curShotNumber[j] = 0;
                                prevShot[j] = null;
                                curShot[j] = cameraTimelines[j].getCameraShots()[0];
                            }

                            // For all counts do
                            for(var i = minCount * 4; i <= maxCount * 4; i++) { %>
                                <tr>
                                    <td><% // If 4th count insert label
                                        if (i%4 === 0) {
                                            %><%=i/4%><%
                                        } else {
                                            %>-<%
                                        }%></td>

                                    <% // For all timelines do
                                    for(j = 0; j < cameraTimelines.length; j++) {

                                        // If curshot is not undefined, we are not done and the begincounts collide
                                        if (typeof curShot[j] !== "undefined" && curShotNumber[j] != -1
                                            && curShot[j].beginCount * 4 === i) {
                                            // Insert td with correct rowspan
                                            %>

                                            <td rowspan="<%= (curShot[j].endCount - curShot[j].beginCount) * 4 + 1 %>">
                                                <div class="timeline-block">
                                                    <span><%= curShot[j].beginCount %> - <%= curShot[j].endCount %></span>
                                                </div>
                                            </td>

                                            <% // Update shotnumber and the current shot. If we are done set
                                            // curshot to null for checks later on
                                            curShotNumber[j]++
                                            if (curShotNumber[j] < cameraTimelines[j].getCameraShots().length) {
                                                prevShot[j] = curShot[j];
                                                curShot[j] = cameraTimelines[j].getCameraShots()[curShotNumber[j]];
                                            } else {
                                                curShotNumber[j] = -1;
                                                prevShot[j] = curShot[j];
                                                curShot[j] = null;
                                            }

                                            // Skip td if we are in a block, otherwise insert.
                                            // DONT TOUCH THESE TESTS, THEY BREAK VERY EASILY
                                        } else if (prevShot[j] === null || (curShot[j] !== null && curShot[j].beginCount * 4 > i
                                                    && prevShot[j].endCount * 4 < i )
                                                    || (curShot[j] === null &&  prevShot[j].endCount * 4 < i)) { %>
                                            <td></td>
                                        <% }
                                    } %>
                                </tr>
                        <% }; %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <footer>
        <div class="content">
            <p>Goto fail; All rights reserved</p>
        </div>
    </footer>

    <script src="/js/timeline.js"></script>
</body>

</html>
